<div class="container">
  <form class="row g-3 mt-3">

    <div class="col-auto">
      <label for="inputPassword2" class="visually-hidden">Password</label>
      <input type="text" class="form-control" id="inputPassword2" placeholder="Enter your wish">
    </div>
    <div class="col-auto">
      <button type="submit" (click)="addWish()" class="btn btn-primary mb-3">Add Wish</button>
    </div>
  </form>
  <div *ngIf="items.length==0; else showItem">
    <p>No item found.</p>
  </div>
  <ng-template #showItem>
    <ul class="wish-list">
      <li *ngFor="let item of items; index as ii">
        <input type="checkbox" class="checkbox"
        (click)="toggleItem(item)"
        [attr.data-index]="ii"
        [checked]="item.isComplete" id=""> {{item.wishText}}
      </li>
    </ul>
  </ng-template>

</div>
